
    ViewData["Title"] = "Reset password";

    <div class="text-center mt-5">

        <p class="text-danger">⏳ You can't resend a reset password right now. Please try again later.</p>
        <p>Time remaining: <strong>@ViewBag.RemainingTime</strong></p>
    
</div>


