@model ResetPasswordViewModel
@using MagicVilla_Web.ViewModels.Identity
@using Microsoft.Extensions.Localization


<section class=" bg-image mt-3 mb-3"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Reset Password</h2>

              <form asp-action="ResetPassword" method="post">
                  <div asp-validation-summary="All"></div>
                                @Html.AntiForgeryToken()
                  <input asp-for="Token" type="hidden"  />
                  <input asp-for="UserId" type="hidden" />

                <div data-mdb-input-init class="form-outline mb-4">
                 <label class="form-label">Password</label>
                  <input asp-for="Password" type="password" class="form-control form-control-lg" />
                  <span asp-validation-for="Password" class="text-danger" ></span>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label">ConfirmPassword</label>
                  <input asp-for="ConfirmPassword" type="password" class="form-control form-control-lg" />
                  <span asp-validation-for="ConfirmPassword" class="text-danger" ></span>
                </div>

                <div class="d-flex justify-content-center">
                  <button  type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">ConfirmPassword</button>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
