@model DtoVillaNumberGet

<form asp-action="DeleteVillaNumber">
	<br />
	<div class="container border p-3">
		<h1 class="text-primary">Delete Villa Number</h1>
		<hr />
		@Html.AntiForgeryToken()
		<div class="row">

			<div class="col-2">
				<label  class="control-label pt-2" style="font-size:20px;">Villa Number Id</label>
			</div>
			<div class="col-10 pb-3" >
				<input class="form-control" disabled asp-for="VillaNumberId" />
			</div>

			<div class="col-2">
				<label  class="control-label pt-2" style="font-size:20px;">Spitial Details</label>
			</div>
			<div class="col-10 pb-3">
				<input class="form-control" disabled asp-for="SpitialDetails" />
			</div>


			<div class="col-2">
				<label asp-for="VillaId" class="control-label pt-2" style="font-size:20px;"></label>
			</div>
			<div class="col-10 pb-3">
				<input asp-for="@Model.dtoVillaGet.Name" disabled class="form-control" rows="5" ></input>
			</div>


			<div class="col-5 offset-2">
				<a asp-action="Index" class="btn btn-primary form-control">Back To List</a>
			</div>
			<div class="col-5">
				<input type="submit" value="Delete" class="btn btn-danger form-control" />
			</div>
		</div>

	</div>
</form>
@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}